@import '../../../styles/variables';

.fixed-nav {
  background-color: $lighter-grey;
  position: absolute;
  left: 0;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  width: 100%;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .links {
    list-style: none;
    padding-left: 1rem;

    li {
      margin: 2rem 0;
      font-size: .9rem;

      a {
        color: $color-text;
      }

      .not-active-link {
        cursor: pointer;

        span {
          &:hover {
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }

      img {
        // width: 24px;
        margin-right: 6px;
        margin-top: -4px;
      }

      .card {
        margin-left: -1rem;
        min-height: 5px;

        .card-body {
          padding: 1rem;
        }
      }
    }

  }

  .logout {
    cursor: pointer;
    &:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }

}
