<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-navbar></app-navbar>
    </div>
    <div class="col-10 p-0">
      <main class="pt-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="search input-group">
                <input placeholder="Faça uma busca" id="search" type="text" class="form-control">
                <div class="input-group-append">
                  <button class="btn btn-primary">
                    <img src="/assets/icons/search-light.png" alt="Buscar">
                  </button>
                </div>
              </div>
            </div>

          </div>
          <div class="row mt-4">
            <div class="col-12">
              <h1>Política</h1>
            </div>
          </div>
          <div class="row policies justify-content-start my-3">
            <div class="col-10">
              <app-rich-text-editor></app-rich-text-editor>
            </div>

            <div class="col-12 mt-4">
              <button class="btn btn-primary">Salvar</button>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12">
              <a href="javascript:void(0)" class="text-primary">Termos de uso</a>
            </div>
          </div>
          <div class="row policies justify-content-start my-3">
            <div class="col-10">
              <app-rich-text-editor></app-rich-text-editor>
            </div>

            <div class="col-12 mt-4">
              <button class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
