@import '../../../styles/variables';

.list-item {
  display: flex;
  align-items: center;
  min-height: 40px;

  &:hover {
    background-color: $grey-light-background;
  }
}

.row-link {
  text-decoration: none !important;
}
