main {
  background-color: #f6f6f6;
  .row {
    justify-content: center;
  }
}

aside {
  background-color: #fafafa;
  min-height: 100vh;

  .no-selected {
    justify-content: center;
    margin-top: 6rem;
  }
}


