<div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <app-navbar></app-navbar>
      </div>
      <div class="col-6 p-0">
        <main class="pt-5">
          <div class="container">
            <div class="row">
              <div class="col-12 search input-group">
                <input placeholder="Faça uma busca" id="search" type="text" class="form-control">
                <div class="input-group-append">
                  <button class="btn btn-primary">
                    <img src="/assets/icons/search-light.png" alt="Buscar">
                  </button>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <h1>Profissionais</h1>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <app-list-view></app-list-view>
              </div>
            </div>
          </div>
        </main>
      </div>
      <div class="col-4 pl-0">
        <aside>
          <div class="container">
            <div class="row pt-5">
              <div class="col-6">
                <app-featured-card [title]="'10 mil'" [description]="'Profissionais cadastrados'" [orangeBg]="true"></app-featured-card>
              </div>
              <div class="col-6">
                <app-featured-card [title]="'7,5 mil'" [description]="'Profissionais ativos'" [orangeBg]="false"></app-featured-card>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-6">
                <app-featured-card [title]="'1,5 mil'" [description]="'Profissionais em verificação'" [orangeBg]="false">
                </app-featured-card>
              </div>
              <div class="col-6">
                <app-featured-card [title]="'500'" [description]="'Profissionais inativos'" [orangeBg]="false"></app-featured-card>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-6">
                <app-featured-card [title]="'500'" [description]="'Profissionais bloqueados'" [orangeBg]="false">
                </app-featured-card>
              </div>
            </div>
            <div class="row no-selected">
              <div class="col-6 text-center">
                <div class="image mb-3">
                  <img src="/assets/icons/users-big.png" alt="Icone de usuário">
                </div>
                <span class="thin">Selecione um profissional para ver detalhes</span>
              </div>

            </div>
          </div>
        </aside>
      </div>
    </div>
</div>
