main {
  background-color: #f6f6f6;
  .row {
    justify-content: center;
  }
}

aside {
  background-color: #fafafa;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow-y: auto;
  .no-selected {
    justify-content: center;
    margin-top: 6rem;
  }
}


