@import '../../../styles/variables';

form {
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
}
::ng-deep {
  .ql-toolbar.ql-snow {
    border-top-right-radius: $default-border-radius;
    border-top-left-radius: $default-border-radius;
  }

  .ql-container.ql-snow {
    border-bottom-right-radius: $default-border-radius;
    border-bottom-left-radius: $default-border-radius;
    min-height: 90px;
  }
}
