$primary-orange: #fb9036;
$light-grey: #f6f6f6;
$grey-light-background: #cecece;
$lighter-grey: #fafafa;
$color-text: #545454;
$color-text-lighter: #e7e7e7;
$error-feedback: #BD362F;
$success-feedback: #51A351;

$default-border-radius: 10px;
$default-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
0 3px 1px -2px rgba(0, 0, 0, 0.12),
0 1px 5px 0 rgba(0, 0, 0, 0.2);

$default-form-control-and-btn-height: 50px;


$primary-orange-hover: #c7732d;
$light-grey-hover: #dddcdc;
