<div class="service-cards-holder" *ngIf="isService">
  <div class="card image-card image" [style.backgroundImage]="'url('+ serviceImage +')'">
    <!-- <img  src="/assets/icons/camera.png" class="icon" alt="Camera" > -->
    <button class="btn btn-icon" (click)="buttonClicked('service-image')">
      <img class="img-fluid" src="/assets/icons/camera.png" alt="Camera">
    </button>
  </div>
  <div class="card image-card text">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <p class="mb-0">{{serviceName}}</p>
        </div>
      </div>
      <button style="bottom: 9px;" class="btn btn-icon" (click)="buttonClicked('service-name')">
        <img class="img-fluid" src="/assets/icons/trash.png" alt="Remover">
      </button>
    </div>
  </div>
</div>

<div class="not-service-card-holder" *ngIf="!isService">
  <div class="card not-service-card">
    <div class="card-body">
      <p class="text-primary text-center mb-1 font-weight-bold">
        Adicionar Categoria
      </p >
      <button class="btn btn-outline btn-outline-primary rounded">+</button>
    </div>
  </div>
</div>
