.close {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  cursor: pointer;
  width: 16px;
}

.header {
  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.3rem;
  }
}

.summary {
  h4 {
    font-size: 1rem;
  }

  .tile {
    span {
      font-size: .78rem;
    }
  }
}

img {
  &.professional {
    border: 2px solid #fff;
    margin-left: -30px;
    margin-top: 20px;
    align-self: flex-end;
    z-index: 10;
    width: 55px;
    height: 55px;
  }
}

.action {
  .btn {
    padding: .375rem 1.25rem;
    font-size: .8rem;
  }


}
