<div class="row justify-content-center mt-3">
  <div class="col-9 mb-2">
    <h2>Redefinir senha</h2>
  </div>
</div>
<form>
  <div class="row justify-content-center">
    <div class="col-9 form-group mb-0">
      <input id="username" type="text" class="form-control thin" placeholder="Email">
    </div>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-11">
      <small class="text-grey-light-bg pl-3">
        Digite seu email para redefinir sua senha
      </small>
    </div>
  </div>
</form>
<div class="row justify-content-center mb-3">
  <div class="col-9 text-center">
    <button  class="btn btn-primary full-width">Enviar</button>
  </div>
</div>
