
<div class="list-view-header">
  <div class="container">
    <div class="row">
      <div class="offset-1 col">
        <p class="text-primary small" style="font-weight: 400;">Nome</p>
      </div>
      <div class="col" *ngIf="firstItem.categories && firstItem.categories.length">
        <p class="text-primary small" style="font-weight: 400;">
          Categoria
        </p>
      </div>
      <div class="col" *ngIf="firstItem.status">
        <p class="text-primary small" style="font-weight: 400;">
          Status
        </p>
      </div>
      <div class="col" *ngIf="firstItem.serviceId">
        <p class="text-primary small" style="font-weight: 400;">
          ID
        </p>
      </div>
      <div class="col" *ngIf="firstItem.createdAt">
        <p class="text-primary small" style="font-weight: 400;">
          {{firstItem.createdAt.label}}
        </p>
      </div>
      <div class="col" *ngIf="firstItem.actions && firstItem.actions.length">

      </div>
    </div>
  </div>
</div>
<div class="list-view-table">
    <app-list-item *ngFor="let listItem of listView" [item]="listItem" [smallImage]="smallImage"></app-list-item>
</div>
